.grid {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.grid-row {
  display: flex;
}

.tile-unrevealed{
  background-color: whitesmoke;
  border-style: outset;
  height: 20px;
  width: 20px;
  margin: 0px;
}

.tile-revealed{
  background-color: whitesmoke;
  border-style: inset;
  height: 20px;
  width: 20px;
  margin: 0px;
}

.tile-flagged{
  background-color: blue;
  border-style: outset;
  height: 20px;
  width: 20px;
  margin: 0px;
}

.win-lose-message {
  top: 3%;
  left: 37%;
  right: 0;
  bottom: 0;
  font-family: fantasy;
}

.master {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popups {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: cornsilk;
  justify-content: center;
  border: 2px solid rgb(14, 8, 4);
  height: 200px;
  width: 200px;
  top: 4.8%;
  left: 37%;
  right: 0;
  bottom: 0;
  box-shadow: 5px 5px black;
}


.title {
  text-align: center;
}